.ProfileUserImage{
    width: 12.5%;
    height: 50.5%;
}
.ProfileuserInformation{
    border-radius: 10px 10px 0 0 ;
    margin-top: 1%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.89);
    height: 100vh;
    flex-direction: column;
}
.ProfileUserInfoInformation{
    display: flex;
}
.ProfileContent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../../../public/ProfileBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ProfileUserName{
    line-height: 270%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ProfileUserFavouriteRace{
    color: rgb(85, 85, 85);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ProfileFavouriteRace{
    color: rgb(182, 182, 182);
    font-size: 30px;
}