.navBarBar{
    background: url('../../../public/warhammerBackgroundNavBar2.jpg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 100% 70vh;
}
.XenosDropDown{
    font-family: 'Droid Serif', serif;
}
.navBarItems{
    font-family: 'Droid Serif', serif;
    color: gray;
    font-weight: bolder;
}
.NavBarDropDownItem{
    background-color: gray;
}
.dropdown-menu.show{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
}
.NavBarRegisterButton{
    background:none;
    border: none;
    font-family: 'Droid Serif', serif;
    line-height: 10%;
}
.NavBarRegisterButton:hover{
    background:none !important; 
}
.SignInEmailMessage{
    margin-bottom: 10em;
    color: #838486;
    opacity: 60%;
    font-size: 14px;
    font-weight: bold;
    margin-top: .4em;
}
.modal-content {
    background:url('../../../public/warhammerBackgroundNavbar2.jpg');
    background-position: 50% 70%;
}
.signUpModal{
    color: white;
}
.servoSignUp{
    position: absolute;
    right: 50%;
    z-index: -1;
}