#eldarsContainer {
    padding-top: 4rem;
    background: url(https://w.wallha.com/ws/13/yC81gLvO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}

.eldarsMainsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 2rem;
    border-radius: 3px;
    color: white;

}

.eldarInfoSection,
.eldarHistorySection {
    background: radial-gradient(rgb(3, 3, 3), rgba(0, 0, 0, 0.555));
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eldardsLogo {
    width: 100px;
    height: 100px;
    filter: invert();
}